
/* BACKGROUND */
body{
    background-image: url(/resources/pngtree-sophisticated-bar-and-restaurant-boasting-luxurious-modern-design-featuring-elegant-furnishings-image_3720689.jpeg);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/*SECTION*/
section{
    grid-area: section;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 100%;
    color:#fff;
    text-align: center;
}


section .col-12 .grid-container-section{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 2fr 2fr;
}

.contact_form{  
    width: auto; 
    height: auto;
    margin: 80px auto;
    border-radius: 25px;  
    background-color: #07010189;
    padding-left: 30px;
    margin-top: 10px;
    grid: 10px;
    max-width: 100%;
}

.titulos_formulario{
    font-family:'Times New Roman', Times, serif;
    border-right: 50px;
    margin-right: 30px;
}

input{
    background-color: #07010189;
    width: auto; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #bdbcbc; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
}

textarea{
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    background-color: #07010189;
    width: 350px; 
    height: 80px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ffffff; 
    padding-left: 10px;
    padding-top: 15px;
    color: #ffffff;
}

button{
    float: center;
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ffffff;
    background-color: #07010189;
    color: #ffffff;
    cursor: pointer;
    width: 80px; 
    height: 40px;
    margin: 10px;
}

.formulario_medidas label{
    display: block; 
    float: center;  
}
/* .formulario_medidas .button{
    cursor: pointer;
} */

select{
    float: center;
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ffffff;
    background-color: #07010189;
    color: #fff;
}


h1{
    font-size: 45px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: #ffffff;
}

h3{
    font-size: 25px; 
    padding-bottom: 10px;
    color: #ffffff;   
}

input{
    font-size: 14px; 
    color: #ffffff; 
}

::-webkit-input-placeholder {
    color: #ffffff;
}

::-webkit-textarea-placeholder {
    color: #ffffff;
}

.formulario_medidas input:focus{
    outline:0;
    border: 1px solid #ffffff;
}

.formulario_medidas textarea:focus{
    outline:0;
    border: 1px solid #ffffff;
}


/*RESPONSIVE DESIGN*/

@media(max-width: 900px){
    .titulos_formulario h1{
        font-size: 30px;
    }

    .titulos_formulario h3{
        font-size: 15px;
    }

    .contact_form{
        size: 0.4rem;
        margin-left: 0;
    }
    section .col-s-10{
        float: right;
    }
}