footer {
	font-size: 12px;
	line-height: 15px;
	color: #a3a196;
}
footer .container > div {
	padding-top: 20px;
	border-top: 0.5px solid #000;
}


.logo-footer {
	height: 50px;
	opacity: 0.4;
}


.footer_menu {
	
}
.footer_menu a {
	color: #a3a196;
}
.footer_menu a:hover {
	color: #000;
}

.footer_menu li:not(:last-child) {
	margin-right: 5px;
}
.footer_menu li:not(:last-child):after {
	content: '|';
	margin-left: 10px;
}