/* Spacing */
#restaurant_home {
	padding-top: 10px;
	padding-bottom: 0px;
}
#restaurant_blocks {
	padding-bottom: 30px;
}
#offers {
	padding-bottom: 30px;
}
#quisom {
	padding-bottom: 30px;
}
#team {
	padding-bottom: 100px;
}
#press {
	padding-bottom: 50px;
}
#events {
	padding-bottom: 50px;
}
#events-blocks {
	padding-bottom: 50px;
}



.header-title {
	border-top: 8px solid #000;
	padding-top: 15px;
	padding-bottom: 30px;
}

.header-title .title {
	font-family: 'Graphik Bold', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
.header-title .subtitle {
	font-weight: 300;
	text-transform: uppercase;
}

.header-subtitle {
	border-top: 0.5px solid #000;
}



.img-bg {
	height: 50vh;
	background-size: cover;
	background-position: center;
}

#restaurant_home .vertical-media img,
#restaurant_home .vertical-media video {
	min-height: 700px;
}


@media (max-width: 1024px) {
	#restaurant_home .vertical-media img,
	#restaurant_home .vertical-media video {
		min-height: 60vh;
	}
}

@media (max-width: 768px) {
	#restaurant_home .vertical-media img,
	#restaurant_home .vertical-media video {
		min-height: 60vh;
	}
}

@media (max-width: 576px) {
	#restaurant_home .vertical-media img,
	#restaurant_home .vertical-media video {
		min-height: 100%;
	}
}



#restaurant-slider .img-bg {
	height: 400px;
}

@media (max-width: 768px) {

	#restaurant-slider .img-bg {
		height: 40vh;
	}
	
}

#restaurant-slider img,
#restaurant-slider video {
	max-height: 50vh;
	object-fit: contain;
}

@media (max-width: 768px) {
	#restaurant-slider img,
	#restaurant-slider video {
		max-height: 100%;
		object-fit: contain;
	}
}


#restaurant_blocks .card {
	margin-bottom: 50px;
}


#restaurant_blocks img,
#restaurant_blocks video {
	min-height: 630px;
}

@media (max-width: 1024px) {
	#restaurant_blocks img,
	#restaurant_blocks video {
		min-height: 450px;
	}
}

@media (max-width: 768px) {
	#restaurant_blocks img,
	#restaurant_blocks video {
		min-height: 330px;
	}
}

@media (max-width: 576px) {
	#restaurant_blocks img,
	#restaurant_blocks video {
		max-height: 100%;
	}
}



/*********************
 * Offers
 */
.offer-item {
	margin-bottom: 50px;
}
.offer-item .card {
	height: 100%;
}
.offer-item .card-body {
	display: flex;
	flex-direction: column;
	/*
	justify-content: space-between;
	*/
}
.offer-item .card-text {
	text-align: left;
}


.offer-extra > * {
	border-top: 0.5px solid;
	padding-top: 30px;
}

.offer-extra .card-title {
	border-top: none;
	padding-top: 0px;
}


.offer-item img,
.offer-item video {
	min-height: 460px;
}

@media (max-width: 1024px) {
	.offer-item img,
	.offer-item video {
		min-height: 330px;
	}
}

@media (max-width: 768px) {
	.offer-item img,
	.offer-item video {
		min-height: 460px;
	}
}

@media (max-width: 576px) {
	.offer-item img,
	.offer-item video {
		min-height: 100%;
	}
}


/***************
 * Team
 */

.partners-img {
	position: relative;
	overflow: hidden;
}

.partners-img img {
	max-width: 50vw;
	margin: 0 auto 100px;
}

.partners-img > a:after {
	content: ' ';
	color: #fff;
	background-color: transparent; /*#000;*/
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	
	position: absolute;
	top: 0;
	
	font-size: 90px;

	transform: rotate(45deg);
	background: url('../img/logo-x.png') center no-repeat;
	background-size: 70px;
}

@media (max-width: 991px) {
	.partners-img img {
		max-width: 50vw;
		margin: 0 auto 50px;
	}
}
@media (max-width: 767px) {
	.partners-img img {
		max-width: 60vw;
		margin: 0 auto 50px;
	}

	.partners-img > a:after {
		content: ' ';
		color: #fff;
		background-color: transparent; /*#000;*/
		width: 100%;
		height: 100%;

		display: flex;
		align-items: center;
		justify-content: center;
		
		position: absolute;
		top: 0;
		
		font-size: 90px;

		transform: rotate(45deg);
		background: url('../img/logo-x.png') center no-repeat;
		background-size: 70px;
	}
}
@media (max-width: 576px) {
	.partners-img img {
		max-width: 100vw;
		margin: 0 auto 10px;
	}
}


.partners {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.partners > a {
	display: block;
	width: 100%;
	height: 100%;
}

.partners .partner {
	display: flex;
	flex-direction: row;
}
/*
.partners .partner > a:after {
	content: '+';
	color: #fff;
	background-color: transparent;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	position: absolute;

	font-size: 45px;
}
*/
.partners .partner > a {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: inherit;
}
.partners .partner .name {
	font-family: 'Graphik Bold', sans-serif;
	width: 100px;
	line-height: 20px;
	text-transform: uppercase;
}

@media (max-width: 576px) {
	.partners .partner .name {
		font-size: 16px;
		line-height: 16px;
		text-align: left;
		margin: 0 auto;
	}
}


.partners .partner-0 {
	position: absolute;
	top: 50%;
	left: 0;
	width: 40%;
	border-bottom: 0.5px solid;
}
.partners .partner-0 > span:after {
	right: -4px;
	bottom: -16px;
}
.partners .partner-0 > span {
	margin-right: -20px;
	padding-right: 20px;
	margin-bottom: -20px;
	padding-bottom: 20px;
}

.partners .partner-1 {
	flex-direction: column-reverse;
}
.partners .partner-1 {
	position: absolute;
	bottom: 0%;
	left: 50%;
	width: 10%;
	height: 36%;
	border-left: 0.5px solid;
}
.partners .partner-1 > span:after {
	left: -15.5px;
	top: -4px;
}

.partners .partner-1 > span {
	margin-left: -20px;
	padding-left: 20px;
	margin-top: -20px;
	padding-top: 20px;
}
.partners .partner-1 .name {
	margin-left: 15px;
}

.partners .partner-2 {
	flex-direction: row-reverse;
}
.partners .partner-2 {
	position: absolute;
	top: 50%;
	right: 0;
	width: 40%;
	border-bottom: 0.5px solid;
}
.partners .partner-2 > span:after {
	left: -4px;
	bottom: -16px;
}
.partners .partner-2 > span {
	text-align: right;
	margin-left: -20px;
	padding-left: 20px;
	margin-bottom: -20px;
	padding-bottom: 20px;
}


@media (max-width: 768px) {
	.partners {
		position: relative;
	}
	.partners > a {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.partners .partner-0,
	.partners .partner-1,
	.partners .partner-2 {
		position: relative;
		width: 33.33%;
		height: auto;
		top: 0;
		left: 0;
		border: none;
		text-align: center;
	}
	.partners .partner-0 > span,
	.partners .partner-1 > span,
	.partners .partner-2 > span {
		text-align: center;
		margin: 0px;
		padding: 0px;
		width: 100%;
	}
	.partners .partner-0 > span:after,
	.partners .partner-1 > span:after,
	.partners .partner-2 > span:after {
		content: '';
	}
}



.team-list {
	
}
.team-list .team-item {
	border-bottom: 0.5px solid;
}
.team-list .team-item:hover {
	background-color: #000;
	color: #f2f1e2;
}
.team-list .team-item .btn {
	color: #000;
	border: none;
}
.team-list .team-item:hover .btn {
	color: #f2f1e2;
}


/* Alter tooltip style */
/*
.tooltip-main {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	font-weight: 700;
	background: #f3f3f3;
	border: 1px solid #737373;
	color: #737373;
	margin: 4px 121px 0 5px;
	float: right;
	text-align: left !important;
}

.tooltip-qm {
	float: left;
	margin: -2px 0px 3px 4px;
	font-size: 12px;
}

.tooltip-inner {
	max-width: 236px !important;
	height: 76px;
	font-size: 12px;
	padding: 10px 15px 10px 20px;
	background: #FFFFFF;
	color: rgba(0, 0, 0, .7);
	border: 1px solid #737373;
	text-align: left;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
	border-bottom-color: transparent;
}
*/
.tooltip-inner {
	padding: 0px;
}
.tooltip.show {
	opacity: 1;
}


.team-list .team-name,
.team-list .team-type {
	text-transform: uppercase;
}
.team-list .team-name {
	font-family: 'Graphik Bold', sans-serif;
}
.team-list .team-type {
	font-family: 'Graphik Light', sans-serif;
}


/***************
 * Press
 */

.press-pills {
	border-top: 0.5px solid;
	font-family: 'Graphik Bold', sans-serif;
	text-transform: uppercase;
	margin-bottom: 50px;
}
.press-pills .filter-title {
	text-transform: uppercase;
}
.press-pills .press-tab {
	border-top: 0.5px solid;
	color: #000;
}
.press-pills .press-tab:first-of-type {
	border-top: 0px solid;
}
.press-pills .press-tab:hover {
	background-color: #000;
	color: #f2f1e2;
}

.press-pills .press-tab .nav-link {
	color: #000;
	padding: 0px;
	line-height: 30px;
	width: 100%;
	text-align: left;
	border-radius: 0px;
}
.press-pills .press-tab:hover .nav-link,
.press-pills .press-tab .nav-link.active {
	background-color: #000;
	color: #f2f1e2;
}


.press-list {
	
}
.press-list .press-item {
	border-top: 0.5px solid;
}
.press-list .press-item:hover {
	background-color: #000;
	color: #f2f1e2;
}
.press-list .press-item a,
.press-list .press-item .btn {
	color: #000;
	border: none;
}
.press-list .press-item:hover a,
.press-list .press-item:hover .btn {
	color: #f2f1e2;
}


.press-list .press-title,
.press-list .press-date {
	text-transform: uppercase;
}
.press-list .press-title {
	font-family: 'Graphik Bold', sans-serif;
	line-height: 30px;
}
.press-list .press-date {
	font-family: 'Graphik Light', sans-serif;
}

/***************
 * Events
 */


#events-blocks .img-bg,
#events-blocks img,
#events-blocks video {
	max-height: 400px;
	object-fit: contain;
}

@media (max-width: 767px) {
	#events-blocks .img-bg,
	#events-blocks img,
	#events-blocks video {
		max-height: 40vh;
		object-fit: contain;
	}
}


#events-blocks p {
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 1.5rem;
}
#events-blocks .titular {
	font-weight: 500;
	font-family: 'Graphik SemiBold', sans-serif;
	text-transform: uppercase;
}